

<body>

    <%- include('./layouts/header') %>
    <Br>

  <main>

    <div class="admin-header">
        <h2>Admin Panel</h2>
        <a href="/auth/logout" class="logout-button">Logout</a>
    </div>

    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="beforeImage">Before Image:</label>
            <input type="file" name="beforeImage" required>
        </div>
        <div>
            <label for="afterImage">After Image:</label>
            <input type="file" name="afterImage" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" required></textarea>
        </div>
        <button type="submit">Upload</button>
    </form>

    <h2>Uploaded Testimonials</h2>
    <div class="testimonials-container">
        <% testimonials.forEach(testimonial => { %>
            <div class="testimonial-item">
                <form action="/admin/update/<%= testimonial._id %>" method="POST">
                    <div>
                        <label for="description">Description</label>
                        <textarea name="description"><%= testimonial.description %></textarea>
                    </div>
                    <button type="submit">Update Description</button>
                </form>
                <form action="/admin/delete/<%= testimonial._id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <div>
                    <h3>Before</h3>
                    <img src="<%= testimonial.beforeImage.replace('public', '') %>" alt="Before Image">
                </div>
                <div>
                    <h3>After</h3>
                    <img src="<%= testimonial.afterImage.replace('public', '') %>" alt="After Image">
                </div>
            </div>
        <% }); %>
    </div>
</main>

    <Br>
    <%- include('./layouts/footer') %>

</body>
</html>
