<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Testimonials</title>
</head>
<body>

    <%- include('./layouts/header') %>

    <main>
        <h2>Testimonials</h2>
        <div class="image-comparison">
            <% testimonials.forEach(testimonial => { %>
                <div class="image-container">
                    <div class="image-pair">
                        <div>
                            <h3>Before</h3>
                            <img src="/uploads/<%= testimonial.beforeImage %>" alt="Before Image">
                        </div>
                        <div>
                            <h3>After</h3>
                            <img src="/uploads/<%= testimonial.afterImage %>" alt="After Image">
                        </div>
                    </div>
                    <div class="image-description">
                        <p><%= testimonial.description %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>

     <!-- views/partials/footer.ejs -->
     <%- include('./layouts/footer') %>
    
</body>
</html>
